#!/usr/bin/env bash
# https://shivamarora.medium.com/a-guide-to-manage-your-environment-variables-in-a-better-way-using-direnv-2c1cd475c8e
_SCRIPTS_DIR="$(builtin cd "$(dirname "${BASH_SOURCE[0]}")" && pwd)"
echo "_SCRIPTS_DIR: ${_SCRIPTS_DIR}"

# Export all variabes from manifest file:
set -a
# shellcheck disable=SC1091
source "${_SCRIPTS_DIR}/manifest"
set +a

# Activate conda/mamba environment: TODO: Add setting for miniconda, or is there an environment
# variable that just has the location so we don't have to do if statements?
_SH=$([[ -n ${ZSH_VERSION:-} ]] && echo zsh || echo bash)

if command -v micromamba >/dev/null 2>&1; then
    eval "$(micromamba shell hook -s "$_SH")"
    micromamba activate "$PYTHON_ENV_NAME"
elif [[ -n "${CONDA_EXE:-}" ]]; then
    eval "$("$CONDA_EXE" "shell.$_SH" hook)"
    conda activate "$PYTHON_ENV_NAME"
elif command -v mamba >/dev/null 2>&1; then
    eval "$(mamba "shell.$_SH" hook)"
    conda activate "$PYTHON_ENV_NAME"
elif command -v conda >/dev/null 2>&1; then
    eval "$(conda "shell.$_SH" hook)"
    conda activate "$PYTHON_ENV_NAME"
fi

# echo "Direnv: Activated conda/mamba environment: $PYTHON_ENV_NAME"
