-c constraints.txt
git+https://github.com/wjbmattingly/florida
isodate
jsons
ninja
# * git+https://github.com/jawah/niquests # possibly best and most full-featured http requests library
omegaconf
opencv-python-headless
pillow # Consider installing pillow-simd to speed up pillow operations (image augmentations, etc)
plotly
polars
pysimdjson
pyyaml
requests
seaborn
tqdm
types-Pillow
types-regex
urllib3
wandb
# * For notebooks / plotting:
ipykernel
ipython
# * jupyter-contrib-nbextensions No longer works with jupyter-lab
# * git+https://github.com/ipython-contrib/jupyter_contrib_nbextensions.git
# * See here instead: https://jupyterlab-contrib.github.io/migrate_from_classical.html
jupyterlab
nbconvert
nbformat
numpy
pandas-read-xml
pandoc
polars
seaborn
jupyterlab_code_formatter
jupyterlab-lsp
python-lsp-server[all]
jlab-enhanced-cell-toolbar
jupyterlab-snippets
# * For linting / code auto-formatting inside vscode (or other IDE).
ruff

